<%= link_to 'New Quote', new_quote_path %>
<table>
	<tr>
		<th>Quote</th>
		<th>Author</th>
		<th>Day Displayed</th>
	</tr>
	<% @quotes.each do |quote| %>
		<tr>
			<td><%= quote.context %></td>
			<td><%= quote.author %></td>
			<td><%= quote.day %></td>
			<td><%= link_to 'Show', quote_path(quote) %></td>
			<td><%= link_to 'Edit', edit_quote_path(quote) %></td>
			<td><%= link_to 'Destroy', quote_path(quote),
				method: :delete,
				data: { confirm: 'Are you sure?' } %></td>
		</tr>
	<% end %>
</table>
<% link_to 'Home', controller: 'home' %>

