<!DOCTYPE HTML>

<html>

<head style="display:none">
	<title>One Gear One Dream</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	 <!--[if lt IE 9]>
 	 	<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
 	 <![endif]-->
	<%= stylesheet_link_tag "home.scss" %>>
	<%=
	time = Time.new
  	time = time.strftime("%Y-%m-%d")
  	
  	quote = Quote.new
  	quote = Quote.find_by day: time
	%>
</head>


<body>

	<main class="container-fluid bg-1 text-left">
		<h1>
			<%= quote.context %>
		</h1>
		<h2>
			<br />
			<%= quote.author %>
			<br />
		</h2>
	</main>
<!--	
	<footer>
		<ul>
			<li><a href="">Follow</a></li>
			<li><a href="">Subscribe</a></li>
			<li><a href="">Share</a></li>
		</ul>
	</footer>
-->
	
	<%= link_to 'Add Quotes', controller: 'quotes' %>
</body>
</html>
